<div uk-grid>
    <div class="col-5 col-xl-4">
      <div>
        <div class="uk-card uk-card-small uk-card-hover  uk-card-body  uk-text-center" style="height:75px;  ">
  
       
        </div>
      </div>
    </div>
    <div class="col-4 col-xl-3">
      <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:75px">
       
  
      </div>
  
    </div>
    <div class="col">
      <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:75px">
      </div>
    </div>
  
  
  
  
  </div>