<div class="uk-margin-medium-top">

    <ul class="uk-list" style="margin-top: -32px;text-align: left;">
            <li class="clikable" ><a [routerLink]="['/doctor/dashboard']" routerLinkActive="router-link-active"><img src="assets/images/logo.png" width="40px" height="auto" style="display: block;margin-left: -6px;"  ></a> </li>
            <li><div style="height:100px;"></div></li>
            <li class="clikable" uk-tooltip="title: Dossiers Médicals;pos: right;animation:uk-animation-slide-right"><img src="assets/images/folder.svg" uk-svg width="30" height="30" >
            </li>
            <li><div style="height:0px;"></div></li>
            <li class="clikable"  uk-tooltip="title: Rendez-Vous;pos: right;animation:uk-animation-slide-right" style="display: inline-grid;"><img src="assets/images/rdv.svg" uk-svg width="30" height="30" ><span class="uk-badge">10</span>
            </li>
            <li><div style="height:0px;"></div></li>
            <li  class="clikable" uk-tooltip="title: Boite de Messagerie;pos: right;animation:uk-animation-slide-right" style="display: inline-grid;"><img src="assets/images/mail.svg" uk-svg width="30" height="30"><span class="uk-badge">5</span></li>
            <li><div style="height:0px;"></div></li>
            <li class="clikable"  uk-tooltip="title: Alertes et Notifications;pos: right;animation:uk-animation-slide-right" style="display: inline-grid;"><img src="assets/images/notifs.svg" uk-svg width="30" height="30"><span class="uk-badge">10</span></li>
            <li><div style="height:0px;"></div></li>
            <li class="clikable" uk-tooltip="title: Réseau Médical;pos: right;animation:uk-animation-slide-right"><img src="assets/images/patients.svg" uk-svg width="30" height="30"></li>
            <li><div style="height:13px;"></div></li>
            <li class="clikable"  uk-tooltip="title: Profile Docteur;pos: right;animation:uk-animation-slide-right"> <img style="display: block;margin-left: -6px;"  class="avatar-image" src="assets/images/Cepela.jpg" alt="Cepela"></li>
        </ul>
    
</div>