<div class="uk-margin-medium-top">

    <ul class="uk-list uk-align-center">
            <li><a [routerLink]="['/doctor/dashboard']" routerLinkActive="router-link-active"><img src="assets/images/logo.png" width="60px" height="auto"  ></a> </li>
            <li><div style="height:150px;"></div></li>

            <li><img src="assets/images/rdv.svg" uk-svg width="40" height="40">
            </li>
            <li><img src="assets/images/mail.svg" uk-svg width="40" height="40"></li>
            <li><img src="assets/images/notifs.svg" uk-svg width="40" height="40"></li>
            <li><img src="assets/images/folder.svg" uk-svg width="40" height="40"></li>
        </ul>
    
</div>