<div uk-grid>
  <div class="col-5 col-xl-4">
    <div>
      <div class="uk-card uk-card-small uk-card-hover  uk-card-body  uk-text-center" style="height:75px;  ">

        <div uk-grid>


          <div class="col-4 ">
            <div class="uk-flex uk-flex-inline">
              <h3 style="color : rgb(0, 174, 239)">12 </h3><img class="text-icon" src="assets/images/rdv.svg" uk-svg
                width="30" height="30">

            </div>
          </div>
          <div class="col-4 ">
            <div class="uk-flex uk-flex-inline">
              <h3 style="color : rgb(0, 174, 239)">1 </h3><img class="text-icon" src="assets/images/mail.svg" uk-svg
                width="30" height="30">

            </div>
          </div>
          <div class="col-4 ">
            <div class="uk-flex uk-flex-inline">
              <h3 style="color : rgb(0, 174, 239)">9 </h3><img class="text-icon" src="assets/images/notifs.svg" uk-svg
                width="30" height="30">

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-4 col-xl-3">
    <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:75px">
      <div uk-grid>


        <div class="col-6 uk-text-left">
          <h3 style="color : rgb(0, 174, 239)"> 12:24
          </h3>
        </div>
        <div class="col-6 uk-text-right">
          <h3>
            <div class="uk-flex uk-flex-inline">
              <h3 style="color : rgb(0, 174, 239)">12 </h3><img src="assets/images/sun.svg" class="text-icon" uk-svg
                width="30" height="30">

            </div>
          </h3>
        </div>
      </div>

    </div>

  </div>
  <div class="col">
    <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:75px">
    </div>
  </div>




</div>
<div uk-grid>
  <div class="col-md-6 col-xl-6">
    <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:550px">

        <div uk-grid>
            <div class="col-md-6 col-xl-6">

      <mat-list >
        <mat-list-item>
          <img matListAvatar src="assets/images/per1.jpg" alt="per1">
          <h3 matLine> Hammadi Abiriga </h3>
          <p matLine>
            <span> Hammaaa </span>
            <span class="demo-2"> -- Hunululu </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img matListAvatar src="assets/images/per1.jpg" alt="per1">
          <h3 matLine> Hammadi Abiriga </h3>
          <p matLine>
            <span> Hammaaa </span>
            <span class="demo-2"> -- Hunululu </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img matListAvatar src="assets/images/per1.jpg" alt="per1">
          <h3 matLine> Hammadi Abiriga </h3>
          <p matLine>
            <span> Hammaaa </span>
            <span class="demo-2"> -- Hunululu </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img matListAvatar src="assets/images/per1.jpg" alt="per1">
          <h3 matLine> Hammadi Abiriga </h3>
          <p matLine>
            <span> Hammaaa </span>
            <span class="demo-2"> -- Hunululu </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img matListAvatar src="assets/images/per1.jpg" alt="per1">
          <h3 matLine> Hammadi Abiriga </h3>
          <p matLine>
            <span> Hammaaa </span>
            <span class="demo-2"> -- Hunululu </span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img matListAvatar src="assets/images/per1.jpg" alt="per1">
          <h3 matLine> Hammadi Abiriga </h3>
          <p matLine>
            <span> Hammaaa </span>
            <span class="demo-2"> -- Hunululu </span>
          </p>
        </mat-list-item>
        
      </mat-list>
            </div>
        </div>

    </div>

  </div>

  <div class="col-md-3 col-xl-3">
    <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:550px">
    </div>
  </div>
  <div class="col-md-3 col-xl-3">
    <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:550px">
    </div>
  </div>
</div>

<div uk-grid>
  <div class="col-md-4 col-xl-4">
    <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:550px">
    </div>
  </div>

  <div class="col-md-8 col-xl-8">
    <div class="uk-card uk-card-small  uk-card-hover uk-card-body uk-text-large uk-text-center" style="height:550px">
    </div>
  </div>

</div>
